<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<<<<<<< HEAD
        <h1><%= employ.name  %> </h1>
=======
    <h1><%= employ.name  %> </h1>
>>>>>>> 7152f04239e9e7858f86573821a764aac083530a
<ul>

<li>Salary: <%=employ.salary%></li>
<li>Age: <%=employ.age%></li>
</ul>
<a href="/employ/<%=employ._id%>/edit">Edit</a>
<a href="/employs">  ALL EMPLOYS</a>
<form action="/employ/<%=employ._id%>?_method=DELETE" method="POST">
<button>DELETE</button>
</form>
<<<<<<< HEAD

</body>
</html>
=======
</body>
</html>

>>>>>>> 7152f04239e9e7858f86573821a764aac083530a
